
.createTeamBtn{
    color: aliceblue;
}

.createTeamBtn:hover{
    color: aliceblue !important;
    text-decoration: none;
}

.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: #20a8d8;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
  
.pagination a.active {
    background-color: #337ab7;
    color: white;
    border-radius: 5px;
}
  
.pagination a:hover:not(.active) {
    background-color: #337ab7;
    color:white;
    border-radius: 5px;
    text-decoration: none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
    border-radius: 15%;
}

.pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination li {
    display: block;
   }